@media (min-width: 1068px) and  (max-width: 1500px) {

  .main{
    max-width: 1140px;
  }
  .box__p {
    display: none;
    
  }

  .box__p {
    display: none;
  }

  h2:not(.seleccionado){
    display: block;
    color: #C5C5C7;
  }

  .menu__section--titulo {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    align-items: center;
  }

  .menu__h2--arrows {
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    right: 20px;
  }

  .specs__section {
    flex-direction: row;
    align-items: stretch;
    max-width: 100%;
    gap: 40px;
  }

  .specs__article {
    width: 227.25px;
  }

  .div__img--arrow{
    display: none;
  }

  .specs__h1, .box__h1 {
    display: none;
  }

  .menu__section--titulo {
    height: auto;
    width: 100%;
    margin: 40px 0;
  }

  .box__div img {
    left: 0;
  }

  
  .box__ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 120px;
    z-index: 1000;
    height: 100%;
    width: 100%;
    gap: 20px;
}

}