@media (min-width: 1069px) and  (max-width: 1800px) {

  main{
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
  }
  .box__p {
    display: none;
    
  }

  .box__p {
    display: none;
  }

  h2:not(.seleccionado){
    display: block;
    color: #C5C5C7;
  }

  .menu__section--titulo {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    align-items: center;
    z-index: 100;
  }

  .menu__h2--arrows {
    height: 24px;
    width: 24px;
    display: block;
    /* position: absolute; */
    right: 20px;
  }

  .box__section {
    height: auto;
    width: 100%;
    position: relative;
    bottom: 80px;
  }
    .box__ul{
      position: relative;
      top: 150px;
      display: flex;
      flex-direction: row;
      height: 300px;
      width: 513px;
      padding: 0px 0px 0px 40px;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
  }

  
  
  .box__img {
    background-image: url(./img/background.png);
    width: 100%;
    height: 515px;
    position: relative;
    bottom: 80px;
  }
  
  .box__li {
    list-style-type: none;
      min-width: 220px;
      height: 100px;
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: flex-start;
  }

  .specs__section {
    flex-direction: row;
    align-items: stretch;
    max-width: 100%;
    gap: 40px;
  }

  .specs__article {
    width: 227.25px;
  }

  .div__img--arrow{
    display: none;
  }

  .specs__h1, .box__h1 {
    display: none;
  }

  .menu__section--titulo {
    height: auto;
    width: 100%;
    margin: 40px 0;
  }





.specs{
  display: none;
}

/*----FUNCIONALIDAD*/

.invisible {
  display:none;
}

.visible {
  display: block;
}

}