@media (min-width: 734px) and (max-width: 1068px) {

  main{
    max-width: 810px;
    margin: auto;
    padding: 0 16px;
  }

  .box__p {
    display: none;
  }

  h2:not(.seleccionado){
    display: block;
    color: #C5C5C7;
  }

  .menu__section--titulo {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    align-items: center;
  }

  .menu__h2--arrows {
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    right: 20px;
  }

  .specs__section {
    flex-direction: row;
    align-items: stretch;
    max-width: 100%;
    gap: 32px;
  }

  .div__img--arrow{
    display: none;
  }

  .box__div {
    height: auto;
    width: 100%;
    z-index: 100;
    position: relative;
    bottom: 80px;
  }

  .box__img {
    background-image: url(./img/background.png);
    width: 100%;
    height: 515px;
    background-position: -255px;
  }

  .box__ul{
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    height: 435px;
    width: 301px;
    padding: 30px;
    justify-content: center;
}

.box__li {
  list-style-type: none;
    width: 241px;
    height: 72px;
    padding: 12px 20px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.box__li--icon {
  height: 60px;
  width: 60px;
}

  .specs__h1, .box__h1 {
    display: none;
  }

  .menu__section--titulo {
    height: auto;
    width: 100%;
    margin: 40px 0;
  }

  .specs__h1, .box__h1 {
    display: none;
  }

  .seleccionado {
    color: black;
  }



.specs{
  display: none;
}

}